<h3>Contact Us</h3>
<p>
Hilary Richardson, Ph.D. <br>
Lecturer in Developmental Psychology <br>
School of Philosophy, Psychology, and Language Sciences <br>
University of Edinburgh <br>
<br>
email: hilary.richardson at ed.ac.uk <br>
<br>
Psychology Building <br>
7 George Square, Edinburgh <br>
EH8 9JZ  <br>
</p>

<p>
 <h3> Interested in joining? </h3>
 <a href="{{ site.url }}/join"> Please reach out!</a> We welcome applicants from all backgrounds.<br>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
