---
title: Publications from the Richardson Lab
layout: default
group: publications
---

<h1>Publications</h1>
<i>Electronic versions of publications are provided to ensure timely dissemination of academic work. They can be downloaded for noncommercial purposes. 
Copyright resides with the respective copyright holders, as stated in each article. The files may not be reposted without permission from copyright holders.</i>
<br>
<hr>
<div class="container-fluid">

        <h3>Peer-Reviewed Publications</h3>        
        {% for publication in site.publications reversed %}
                <div>&nbsp;&nbsp;&nbsp;&nbsp;{{ publication.citation | markdownify }} [<a href="{{publication.pdf}}" alt = "PDF">Full Text</a>]                 
                     {% if publication.links %}
                           {% for link in publication.links %}
                              [<a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a>]
                           {% endfor %}
                     {% endif %}
                </div>

                <div class="row" style="padding-top: 5px; margin-top: - 5px;">
                </div>
                <br>
        {% endfor %} 
        
        <hr>
        <h3>Conference Proceedings</h3>
        <b>Richardson, H.</b>, Baker, C., Tenenbaum, J., & Saxe, R. (2012). The development of joint belief-desire inferences. 
        In <i>Proceedings of the Annual Meeting of the Cognitive Science Society </i> (Vol. 34, No. 34). 
        <br>
        [<a href="https://hilaryrichardson.github.io/static/Richardsonetal_2012.pdf">Full Text</a>]
         <div class="row" style="padding-top: 5px; margin-top: - 5px;">
         </div>
         <br>
        
        <hr>
        <h3>Book Chapters</h3>
        <b>Richardson, H.</b>, Saxe, R. (2020). Early signatures and developmental change in brain regions for theory of mind.
        In J. Rubenstein & P. Rakic (Eds.) <i>Neural Circuit and Cognitive Development, Second Edition, Volume 2. </i>
        <br>
        [<a href="https://hilaryrichardson.github.io/static/RichardsonSaxe_NCCD.pdf">Full Text</a>]
        <div class="row" style="padding-top: 5px; margin-top: - 5px;">
         </div>
         <br>

        <b>Richardson, H.</b>, Saxe, R. (2016). Using MRI to study developmental change in theory of mind.
        In J. Sommerville & J. Decety (Eds.) <i>Social Cognition: Development Across the Life Span, 210. </i>
        <br>
        [<a href="https://hilaryrichardson.github.io/static/RichardsonSaxe_NCCD.pdf">Full Text</a>]
         <div class="row" style="padding-top: 5px; margin-top: - 5px;">
         </div>
         <br>
        
        <hr>
        <h3>Essays</h3>
        <b>Richardson, H.</b>. (2012). New discoveries about the developing brain. <i>Future Reflections, 31</i>(1). 
        <br>
        [<a href="https://www.nfb.org/images/nfb/publications/fr/fr31/1/fr310111.htm">Full Text</a>]
        <div class="row" style="padding-top: 5px; margin-top: - 5px;">
        </div>
        <br>
        
        <hr>
        For a dynamic list of publications, please see Hilary's <a href="https://scholar.google.com/citations?user=6a4FNMcAAAAJ&amp;hl=en&amp;oi=ao">Google Scholar profile</a>.
        <br>
        Stimuli and analysis plans are shared via the <a href="https://osf.io/spqgc/">Open Science Framework (OSF)</a>.
        <br>
        <div><a style="vertical-align: top;" href="https://orcid.org/0000-0003-3444-805X" target="orcid.widget" rel="noopener noreferrer"><img style="width: 1em; margin-right: .5em;" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon" />https://orcid.org/0000-0003-3444-805X</a></div>

</div>
