---
title: Publications from the Richardson Lab
layout: default
group: publications
---

<h1>Publications</h1>
<i>Electronic versions of publications are provided to ensure timely dissemination of academic work. They can be downloaded for noncommercial purposes. 
Copyright resides with the respective copyright holders, as stated in each article. The files may not be reposted without permission from copyright holders.</i>

<div class="container-fluid">

        <h3>Peer-Reviewed Publications</h3>        
        {% for publication in site.publications reversed %}
                <hr>
                <div>{{ publication.citation | markdownify }} [<a href="{{publication.pdf}}" alt = "PDF">Full Text</a>]                 
                     {% if publication.links %}
                           {% for link in publication.links %}
                              [<a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a>]
                           {% endfor %}
                     {% endif %}
                </div>

                <div class="row" style="padding-top: 5px; margin-top: - 5px;">
                </div>
                <br>
        {% endfor %} 
        
        <h3>Book Chapters</h3>
        
        <h3>Essays</h3>
        
        For a dynamic list of publications from the lab, please see Hilary's [Google Scholar page](https://scholar.google.com/citations?user=6a4FNMcAAAAJ&hl=en&oi=ao).
        Analysis plans and stimuli can be found on [the Open Science Framework](https://osf.io/spqgc/). 
        
        For a dynamic list of publications, please check my <a href="https://scholar.google.com/citations?user=6a4FNMcAAAAJ&amp;hl=en&amp;oi=ao">Google Scholar profile</a>.

For resources and analysis plans, please see <a href="https://osf.io/spqgc/">my profile</a> on the Open Science Framework (OSF).
<div><a style="vertical-align: top;" href="https://orcid.org/0000-0003-3444-805X" target="orcid.widget" rel="noopener noreferrer"><img style="width: 1em; margin-right: .5em;" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon" />https://orcid.org/0000-0003-3444-805X</a></div>

</div>
